/* .cover_container {
  float: right;
  margin: 0px;
  padding: 0;
  position: relative;
} */
.cover {
  max-width: 100%;
  min-width: 300px;
}
.layout {
  width: 100%;
  overflow-y: auto;
}
.title {
  position: absolute;
  top: 30%;
  left: 10%;
  align-items: center;
  justify-content: center;
}
.cover_container {
  float: right;
  position: relative;
}
.button {
  position: absolute;
  top: 10%; /* adjust the top position of the button */
  right: 10%; /* adjust the left position of the button */
  z-index: 2; /* set a higher z-index than the image */
  transition: all 0.5s;
  width: 137px;
  height: 43px;
  background-color: white;
  border-radius: 10px;
  border-color: transparent;
}
.button:hover {
  font-size: 18px;
  background-color: #f1f5ff;
  position: absolute;
  cursor: pointer;
}
.button-text {
  color: #175cff;
}
.question-title {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.pros {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20%;
  display: flex;

  justify-content: center;
}
.points {
  text-align: center;

  column-count: 3;
  column-gap: 10%;
}
h4 {
  padding-top: 2%;
}
@media (max-width: 1036px) {
  .container {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
  }
  .cover {
    display: none;
  }
  .button {
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 2px;
    border-color: #175cff;
    transition: all 0.5s;
  }
  .button:hover {
    background-color: #175cff;
  }
  .button:hover .button-text {
    color: white;
  }
  .title {
    transition: all 0.5s;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
  }
  .question-title {
    display: none;
  }
  .pros {
    display: none;
  }
  .points {
    display: none;
  }
}
