:root {
  font-family: "Plus Jakarta Sans", system-ui, Avenir, Helvetica, Arial,
    "Nunito", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f1f5ff;
}

body {
  font-size: 16px;
  margin: 0;
  display: block;
}
button {
  font-family: "Nunito";
  font-weight: bold;
}
h1 {
  font-size: 76px;
  color: #175cff;
  margin: 0px;
  font-family: "Plus Jakarta Sans";
}
h2 {
  font-size: 48px;
  color: #175cff;
  margin: 0px;
  font-family: "Plus Jakarta Sans";
}
h3 {
  font-size: 24px;
  color: #175cff;
  margin: 0px;
  font-family: "Plus Jakarta Sans";
}
h4 {
  font-size: 16px;
  color: #5e6282;
  margin: 0px;
  font-family: "Nunito";
  font-weight: normal;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("assets/fonts/Nunito/Nunito/static/Nunito-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("assets/fonts/Nunito/Nunito/static/Nunito-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 1036px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
}
